@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; // keep width of the container 
    align-items: center;
    width: 300px;
    height: 360px;
    border-radius: 15px;
    background: rgb(4, 154, 196);
    cursor: pointer;
    h2{
        text-align: center;
        font-size: 25px;
        color: white;
        margin: 10px 0 20px 0;
    }

}

.container:hover .description{
    animation-play-state: running; //start animation when hover
}

.container:not(:hover) .description{
    display: none; // when not hovering make the div disappear
}


.thumbnail{
    width: 85%;
    border-radius: 10px;
}

.actions{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    gap: 50px;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    a:hover{
        color: green;
        background-color: black;
        border-color: black;
    }

}

.description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 5px;
    font-size: 17px;
    width: 95%;
    height: 170px;
    border-radius: 0px 15px 15px 0;
    color: black;
    position: absolute;
    left: 0;
    top: 20%;
    animation-name: reveal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translate3d(-100%,0px,0px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}


@media screen and (max-width:830px) {
    
}