@import '../../vars.css';

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px
}

.title {
    font-size: 40px;
    font-weight: 800;
    color: var(--color-text);
    width: fit-content;
    align-self: flex-start;
    font-family: var(--font-dune);
    // ---- typing animation
    overflow: hidden; // make overflow text invisible while using animation typing
    border-right: .15em solid white; // cursor 
    white-space: nowrap; // make overlined text go overflow on the same line 
    margin: 0 auto;
    letter-spacing: .1em;
    animation: typing 4s steps(40, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to{
        width: 100%;
    } 
}

@keyframes blink-caret {
    from , to {border-color: transparent;}
    50% {border-color: white;}
} // blink animation for cursor

.role{
    font-size: 35px;
    font-weight: 500;
    color: var(--color-text);
    margin: 5px 0 15px 0;
}

.description{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 0px;
    line-height: 25px;
}

.contact{
    display: flex;
    list-style: none;
    gap: 10px;
    img{
        border: 2.5px solid white;
        border-radius: 50%;
        width: 50px;
        cursor: pointer;
    }
    li:hover {
        transform: scale(1.2); // scale the button bigger when hovering
    }

}

.button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 7px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--color-text);
    color: var(--color-bg);
}

.button:hover{
    background: #Fbeec1;
    color: black;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.heroImg{
    width: 45%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.25);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.supImg{
    width: 30px;
    height: 30px;
    display: none;
    z-index: 1; 
}


@keyframes floating {
    0%{
        transform: translate(0,0px);
    }

    50% {
        transform: translate(0,20px);
    }   

    100%{
        transform: translate(0,-0px);
    }
}


@media screen and (max-width: 830px) {

    .container{
        flex-direction: column-reverse;
    }

    .content{
        align-items: center;
    }

    .intro{
        align-items: center;
    }

    .title{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30px;
        img{
            display: none;   
        }
    }

    .role{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    .description{
        font-size: 15px;
    }

    .heroImg{
        animation-name: sup-floating;
    }

    .supImg{
        display: block;
        animation-name: sup-floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    
    @keyframes sup-floating{
        0%{
            transform: translate(0,0px);
        }
    
        50% {
            transform: translate(0,20px);
        }   
    
        100%{
            transform: translate(0,-0px);
        }
    }

}

// @media screen and (max-width:640px) {
    
//     .title {
//         font-size: 15px;
//     }
// }
