
.container{
    width: 450px;
    margin-left: 10px;
    margin-right: 10px;
}

.slideEffect {
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 400px;  
        box-shadow:  -5px -5px 10px 0px rgba(255, 255, 255, 0.6), inset 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    }
  
}