
.container{
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;

}

.slideEffect {
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        border-radius: 20px;
        height: 600px;  
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    }
  
}