

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(199,198,207,1) 0%, rgba(193,208,13,1) 0%, rgba(196,207,5,1) 0%, rgba(228,246,69,1) 0%, rgba(103,232,245,1) 99%);
    box-shadow: rgba(74, 60, 234, 0.3) 0px 0px 20px;
    margin: 15px 10px;
    gap: 1rem;
    cursor: pointer;
    img{
        width: 48px;
        margin: 0 auto;
    }

    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 17px;
        font-weight: 600;
        color: white;
    }
}

.container:hover{
    transform: scale(1.2);
}


