

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    //background: linear-gradient(to right, #70aed2, #7db7d9, #89c0e0, #96cae8, #a2d3ef);
    background: var(--color-text);
    box-shadow: rgba(252, 252, 252, 0.3) 0px 0px 20px;
    margin: 15px 10px;
    gap: 1rem;
    cursor: pointer;
    img{
        width: 48px;
        margin: 0 auto;
    }

    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 17px;
        font-weight: 600;
        color: black;
    }
}

.container:hover{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    transform: scale(1.1);
}


