@import "../../vars.css";
span {
    display: flex;
    justify-content: center;
}
.footer {
    color: var(--color-text);
    font-family: var(--font-sf);
    font-size: 25px;
    font-weight: 500;
    margin: 40px 5% 0%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.name {
    color: var(--color-text);
    font-family: var(--font-dune);
    font-size: 25px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}
