@font-face {
    font-family: 'DuneRise';
    src: url('/fonts/Dune_Rise.woff') format('woff'),
         url('/fonts/Dune_Rise.ttf') format('truetype'); 
}

@font-face {
    font-family: 'SFMono Regular 11';
    src: url('/fonts/SFMono-Regular.otf') format('opentype');
}

:root{
    /* Colors */
    --color-text: rgb(255, 221, 67);
    --color-primary: #Fbeec1;
    --color-secondary: #659dbd;
    --color-third:#8d8741;
    /*--color-bg: rgba(162,223,228,255);*/
    --color-bg: rgb(33,33,33);

    /* Fonts */
    --font-dune:'DuneRise';
    --font-sf: 'SFMono Regular 11';

    /* Animation */
    --play : running;
    --direction : normal;
    --duration : 32s;
    --delay: 0;
    --iteration-count:infinite;
}